.carousel-control-prev{
    height: 80px;
    width: 80px;
    opacity: 1 !important;
    top: 44%;
    border-radius: 50%;
}
.carousel-control-next{
    height: 80px;
    width: 80px;
    opacity: 1 !important;
    top: 44%;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .carousel-control-next, .carousel-control-prev{
        height: 40px;
        width: 40px;
    }
}