.discuss{
    font-size: 4rem;
    font-weight: 800;
}
.low-res{
    width: 30px;
    height: 30px;
}
.input{
    border: none;
    border-bottom: 1px solid rgb(37, 77, 255);
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    background: none;
    color: rgb(112, 112, 112);
}
.input:focus{
    outline: none;
}
.text-area{
    border-radius: 2px;
    border: 1px solid rgb(13, 90, 190);
    width: 100%;
    margin-top: 10px;
    resize: none;
    background: none;
    color: rgb(112, 112, 112);
}
.text-area:focus{
    outline: none;
}